<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
	<input type="button" value="전체">
	<input type="button" value="일반">
	<input type="button" value="회원">
	<span style="float:right"><input type="button" value="회원"></span>
	<span style="float:right"><input type="button" value="회원"></span>

	<table border="1">
	<thead>
		<tr>
			<th>이름</th>
			<th>이름</th>
			<th>이름</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>100</td>
			<td>100</td>
			<td>1000</td>
		</tr>
	</tbody>
</table>
</body>
</html>