@charset 'utf-8';

*{
	box-sizing: border-box;
}

.box,
#reset{
	width: 80px;
	height: 80px;
	border: 1px solid black;
	outline: none;
	line-height: 76px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	margin: 5px;
}
#input{
	width: 700px;
	margin: 0 auto;
}
#boxes{
	margin-top: 10px;
}
.red{
	background-color: red;
	color: white;
}
