@charset 'utf-8';

body{
	margin: 0;
	overflow-x: hidden;
}
nav{
	text-align: center;
}
.ham-menu{
	float: right;
	cursor: pointer;
	font-size: 35px;
	color: black;
	margin-right: 10px;
}
.sidebar{
	position: absolute;
	top: 0;
	bottom: 0;
	right: -200px;
	width: 200px;
	background-color: aqua;
	border: 1px solid black;
	box-sizing: border-box;
	z-index: 2;
}
.sidebar-close{
	font-size: 35px;
	float: left;
}
.title{
	/* margin: 0 auto; */
	text-align: center;
	display: inline-block;
}
.prev{
	display: inline-block;
	float: left;
}
