<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="stylesheets/login.css">
	<title>Document</title>
</head>
<body>
	<form method="post" action="/login">
	<h1>로그인</h1>
	<div class="box">
		<input type="id" class="id-box" id="usr" name="usr">

		<input type="password" class="pwd-box" id="pwd" name="pwd">
		<button class="row-box">Login</div>
	</form>
	</div>
	
</body>
</html>