@charset 'utf-8';

.box{
	height: 300px;
	width: 250px;
	left: 0;
	right: 0;
	margin: auto;
	border: 1px solid aquamarine;
	background-color: aquamarine;
}
.row-box{
	width: 100%;
	height: 50px;
	margin-top: 190px;
}
h1{
	text-align: center;
}
